/* h1{
    background-color: aqua;
} */
#firstid{
    background-color: pink;
}

/* #firstid{
    background-color: green;
    background-color: wheat;
}

h2{
    background-color: aquamarine !important;
} */

/* .classA{
    background-color: green;
}

#firstid{
    background-color: red;
}

li{
    background-color: orangered;
} */
/* h1{
    background-color: pink;
} */